{% extends 'home.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card" id="about">
                <div class="card-body">
                    <h2 class="card-title">About</h2>
                    <p class="card-text">Hi.This is my journal.</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sint hic culpa incidunt dolores a repellendus quia reiciendis porro ea laborum tempora architecto, similique quis aliquam fugit enim, laboriosam rerum?</p>
                    <p class="card-text"> Pls see more of my blog:</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Placeholder Image" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}
