{% extends 'home.html' %}

{% block content %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ blog.title }}</h2>
                        <p class="card-text">Published on: {{ blog.pub_date }}</p>
                        <p class="card-body">{{ blog.content }}</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="image" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
    <hr>

{% endblock %}





